:root {
  --el-color-primary: #409eff; // 主题颜色
  --el-bg-color-page: #409eff; // 页面背景颜色
  --el-text-color-primary: #303133; // 字体颜色
}

// 灰色主题
html[data-theme='gray'] {
  filter: grayscale(1);
}

// 暗黑主题
html[data-theme='dark'] {

}