:root {
  --el-color-primary: #409eff; // 主题颜色
  //--el-bg-color-page: #409eff; // 页面背景颜色
  --el-text-color-primary: #303133; // 字体颜色
  //--el-menu-bg-color: #409eff; // 菜单背景颜色

  --os-layout-aside-width: 224px; // 侧边栏宽度
  --os-layout-logo-height: 56px; // 头部高度
  --os-layout-header-height: 56px; // 头部高度
  --os-layout-header-menu-width: 260px; // 头部菜单宽度
  --os-layout-footer-height: 40px; // 底部高度
  --os-layout-tab-height: 40px; // 底部高度

  --bg-color-soft: #fafafa;
  --bg-color-mute: #f2f2f2;

  &.dark {
    fill: var(--el-fill-color-light);
    --bg-color-soft: #242424;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--el-border-color-darker);
  border-radius: 20px;
}

// 灰色主题
html[data-theme='gray'] {
  filter: grayscale(1);
}

// 暗黑主题
html[data-theme='dark'] {

}